@import url('https://fonts.googleapis.com/css?family=Bad+Script');

#logo {
    display: inline;
    text-align: center;
    color: #111;
    font-size: 30px;
    font-family: "Bad Script", cursive;
    letter-spacing: 10px;
    font-weight: 900;
}

#logo span {
    display: table-cell;
    margin: 0;
    padding: 0;
    animation: animate 2s linear infinite;
}

#logo span:nth-child(1) {
    animation-delay: 0s;
}
#logo span:nth-child(2) {
    animation-delay: 0.25s;
}
#logo span:nth-child(3) {
    animation-delay: 0.5s;
}
#logo span:nth-child(4) {
    animation-delay: 0.75s;
}
#logo span:nth-child(5) {
    animation-delay: 1s;
}
#logo span:nth-child(6) {
    animation-delay: 1.25s;
}
#logo span:nth-child(7) {
    animation-delay: 1.5s;
}
#logo span:nth-child(8) {
    animation-delay: 1.75s;
}

@keyframes animate {
    0%,100% {
        color: #4267B2;
        filter: blur(2px);
        text-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 80px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 300px #00b3ff,
                    0 0 400px #00b3ff;
    }
    5%,95% {
        color: #111;
        filter: blur(0px);
        text-shadow: none;
    }
}