@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

body {
    background-color: black;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.wrapper {
    text-align: center;
    margin: 0 auto;
    width: 1230px;
    height: 90%;
}

#header {
    text-align: center;
    background-color: #4267B2;
    padding: 0px;
    margin: 0px;

}

input[type="file"] {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 7px 20px;
    border: 1px solid #018dc4;
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(255, 255, 255, 0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #E9EBEE;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    text-shadow: -1px -1px 0 rgba(15, 73, 168, 0.66);
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.btn {
    display: inline-block;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(255, 255, 255, 0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: transparent;
}


#search {
    padding-right: 50px;
    display: inline-block;
    padding: 10.6px 20px;
    border: 1px solid #b7b7b7;
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(0, 142, 198, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #E9EBEE;
    width: 300px;
}

.options {
    margin-right: 50px;
    padding: 1px;
    background-color: #E9EBEE !important;
    color: #7F6697 !important;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

#trending {
    border-left: 1px solid #3B5DA0;
    border-right: 1px solid #3B5DA0;
}

#trending:focus {
    outline: none;
}

#trending:hover {
    color: white !important;
    background-color: #3B5DA0;
}

#favorites {
    border-left: 1px solid #3B5DA0;
}

#favorites:focus {
    outline: none;
}

#favorites:hover {
    background-color: #3B5DA0;
    color: white !important;

}

#upload-btn {
    border-right: 1px solid #3B5DA0;
}

#upload-btn:focus {
    outline: none;
}

#upload-btn:hover {
    background-color: #3B5DA0;
}

#btnSearch {
    margin-left: -190px;
    color: #4267B2;
    margin-right: 444px;
}

#btnSearch:focus {
    outline: none;
}

.options {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px;
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(255, 255, 255, 0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background-color: transparent;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);

}

.options:hover {
    background-color: royalblue;
    background-color: #3B5DA0;
}

.img-container {
    position: relative;
    /* width: 100%
    /* height: 250px; */
}

img {
    width: 90%;
    height: auto;
}

.img-container .button-like {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto auto;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    margin: 62px -82px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    visibility: hidden;
    background-color: rgb(128, 128, 128, 0.2)
}

.img-container .button-like:hover {
    background-color: black;
    color: red;
}

.img-container:hover .button-like {
    opacity: 80%;
    visibility: visible;
}

#gifs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    width: 100px;
    margin-bottom: 100px;
}



#gifs>div {
    text-align: center;
    padding: 10px;
}

img {
    width: 250px;
    height: 200px;
    border-radius: 5%;
    display: block;
    padding: 10px;
    border: none;
}

#upload-btn {
    display: inline-block;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(255, 255, 255, 0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: transparent;
}


.titleAndLike {
    border: none;
    /* border-left: solid black 1px;
    border-right: solid black 1px; */
    visibility: hidden;
    padding: 1%;
    color: #E9EBEE;
    font-size: 13px;
}

.img-container:hover .titleAndLike {
    visibility: visible;
    background-color: none;
    border: none;
}

#myUploads {
    display: inline-block;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(255, 255, 255, 0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: transparent;
}


#myUploads:focus {
    outline: none;
}

#myUploads:hover {
    background-color: #3B5DA0;
}

#upd-btn:hover {
    background-color: #3B5DA0;
}

#select-file {
    margin-top: 8px;
    padding-bottom: 7px;
    padding-top: 7px;
}

.footer {
    border-top: 1px solid #4267B2;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background-color: black;
    text-align: center;
}


input#select-file {
    display: none;
}

input#select-file+label {
    display: inline-block;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(255, 255, 255, 0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: transparent;
}


input#select-file+label:hover {
    background-color: #3B5DA0;
}

input#select-file+label {
    border-right: 1px solid #3B5DA0;
}

#logo-icon {
    display: inline-block;
    width: 61px;
    height: 61px;
    margin-bottom: 3px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600;);

.img-container {
    background-color: #000;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 26px;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.img-container * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.img-container:before,
.img-container:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: rgb(0, 0, 0, 0.5);
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    content: '';
    opacity: 0.9;
    z-index: 1;
}


.img-container:before {
    -webkit-transform: skew(45deg) translateX(-155%);
    transform: skew(45deg) translateX(-155%);
}

.img-container:after {
    -webkit-transform: skew(45deg) translateX(155%);
    transform: skew(45deg) translateX(155%);
}

.img-container img {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;
}

.img-container .titleAndLike {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
}

.img-container h3 {
    background-color: #000000;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    padding: 5px 10px;
    text-transform: uppercase;
}

.img-container a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.img-container:hover>img,
.img-container.hover>img {
    opacity: 0.5;
}

.img-container:hover:before,
.img-container.hover:before {
    -webkit-transform: skew(45deg) translateX(-55%);
    transform: skew(45deg) translateX(-55%);
}

.img-container:hover:after,
.img-container.hover:after {
    -webkit-transform: skew(45deg) translateX(55%);
    transform: skew(45deg) translateX(55%);
}

.img-container:hover .titleAndLike,
.img-container.hover .titleAndLike {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;

}

#success {
    color: white;
}